*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}
.contenedor-tramites {
  display: flex;
}
@media (max-width: 800px) {
}
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 0;
}
.selectbox {
  width: 50%;
  margin: auto;
  position: relative;
}
@media (max-width: 800px) {
  .selectbox {
    width: 100%;
  }
}
.select {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  z-index: 200;
  border: 2px solid transparent;
}

.select.active,
.select:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #213f8f;
}

.select.active::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 15px solid #213f8f;
  /* border-right: 15px solid red;
  border-left: 15px solid yellow;
  border-bottom: 15px solid black; */
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transition: calc(50%-15px);
}
.select .icono {
  font-size: 30px;
  margin-left: 30px;
  color: #213f8f;
}

.titulo {
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
  font-size: 30px;
}

.descripcion {
  font-size: 10px;
  color: #434343;
}
.opciones {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  max-height: 400px;
  overflow: auto;
  z-index: 100;
  width: 100%;
  display: none;
}
.opciones.active {
  display: block;
  animation: fadeIn 0.3s forwards;
  position: absolute;
}

/*--===========Animacion=============--*/
@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.contenido-opcion {
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s ease all;
}

.opciones .contenido-opcion {
  padding: 30px;
}
.contenido-opcion img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}
.opciones .contenido-opcion:hover {
  background-color: #213f8f;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
  color: #fff;
}
